<% if favorites.any? %>
  <ul class="media-list">
    <% favorites.each do |favorites| %>
      <li class="media">
        <div class="media-left">
          <img class="media-object img-rounded" src="<%= gravatar_url(current_user, { size: 50 }) %>" alt="">
        </div>
        
        <div class="media-body">
          <div>
            <!--<% # binding.pry %>-->
            <%= current_user.name %>
          </div>
          <div>
            <p><%= favorites.content %></p>
          </div>
          <div>
            <P><%= render 'favorites/favorite_button', favorites: @favoritings %></p>
          </div>
        </div>
      </li>

    <% end %>
  </ul>
  <%= paginate favorites %>
<% end %>
